*{
    padding: 0;
    margin: 0;
}
header{
   background-color: gold; 
   padding: 30px;
   text-align: center;
}
header h1{
    font-size: 40px;
    margin-bottom: 20px;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
header nav ul li a{
    color: black;
    text-decoration: none;
}

main .image figure img{
    width: 100%;
}

main .about{
    background-color: white;
    padding: 30px;
    text-align: center;
}
main .about .container{
    background-color: skyblue;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

main .about h2{
    font-size: 36px;
    margin-bottom: 20px;
}

main .menu{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}

main .menu h2{
    font-size: 36px;
    margin-bottom: 20px;
}
main .menu table{
    background-color: red;
    margin: 0 auto;
}
main .menu table td{
    padding: 10px 20px;
}

aside {
    padding: 30px;
    text-align: center;
    background-color: white;
}

aside .container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

aside h2{
    font-size: 36px;
    margin-bottom: 20px;
}

aside p{
    margin-bottom: 20px;
}

aside figure img{
    width: 150px;
    background-color: blue;
}

aside .btn{
    background-color: green;
    display: inline-block;
    padding: 20px; 
    border: 5px solid black;
    border-width: 5px;
    border-style: solid;
    border-color: black;   
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

aside .btn:hover{
    background-color: red;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}